{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "decorators": false,
      "tsx": false
    },
    "transform": {
      "legacyDecorator": false
    },
    "baseUrl": "./src",
    "paths": {},
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "exclude": ["node_modules", "dist"]
}
